# Copy this file to .env and fill in your API keys
# Get Semantic Scholar key at: https://www.semanticscholar.org/product/api
SEMANTIC_SCHOLAR_API_KEY=

# Get Zotero key at: https://www.zotero.org/settings/keys
ZOTERO_API_KEY= EZBLCym84FR4zIENuFhpGneq
ZOTERO_GROUP_ID= 6478268
